################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/VsVimScripts/v15/Server/sqlite3/storage.ide-wal
